<!--
    IMPORTANT:
    1. Make sure the HttpPlatformHandler and Application Request Routing (ARR) are installed in IIS.
    2. Create a directory named 'logs' in the root of your application directory.
    3. Ensure the processPath points to the correct Python executable.
-->
<configuration>
  <system.webServer>
  
    <webSocket enabled="true" />

    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath=".\.venv\Scripts\python.exe"
                  arguments="-m streamlit run Homepage.py --server.port %HTTP_PLATFORM_PORT% --server.headless true --server.enableCORS false --server.enableXsrfProtection false --server.enableWebsocketCompression false"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\streamlit.log"
                  startupTimeLimit="120"
                  requestTimeout="00:04:00"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_CORS" value="false" />
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_XSRF_PROTECTION" value="false" />
      </environmentVariables>
    </httpPlatform>

    <rewrite>
      <outboundRules>
        <rule name="AddStreamlitProtocolHeader" preCondition="IsStreamlitWebsocket">
          <match serverVariable="RESPONSE_Sec_WebSocket_Protocol" pattern=".*" />
          <action type="Rewrite" value="streamlit" />
        </rule>

        <preConditions>
          <preCondition name="IsStreamlitWebsocket">
            <add input="{URL}" pattern="_stcore/stream" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

  </system.webServer>
</configuration>